GITFOX_DEBUG=true
GITFOX_TRACE=true
GITFOX_GIT_TRACE=true
GITFOX_WEBHOOK_ALLOW_LOOPBACK=true
GITFOX_WEBHOOK_ALLOW_PRIVATE_NETWORK=true
GITFOX_METRIC_ENABLED=true
GITFOX_PRINCIPAL_ADMIN_DISPLAY_NAME=admin
GITFOX_PRINCIPAL_ADMIN_EMAIL=admin@gitfox.io
GITFOX_PRINCIPAL_ADMIN_PASSWORD=changeit

GITFOX_GIT_DEFAULTBRANCH=master
# GITFOX_DATABASE_DATASOURCE=/tmp/gitfox/gitfox.db
GITFOX_DATABASE_DRIVER=mysql
GITFOX_DATABASE_DATASOURCE=root:pass4GitFox@tcp(mysql:3306)/gitfox
GITFOX_CI_PLUGINS_ZIP_URL=https://pkg.zentao.net/gitfox/20240513/plugins.zip
GITFOX_GIT_ROOT=/tmp/gitfox/git
XDG_CACHE_HOME=/tmp/gitfox/cache

GITFOX_HTTP_HOST=localhost
GITFOX_GITSPACE_ENABLE=true
GITFOX_DOCKER_API_VERSION=1.41
GITFOX_SSH_ENABLE=true
GITFOX_SSH_HOST=localhost
GITFOX_SSH_PORT=3322
GITFOX_SSH_HOST_KEYS_DIR=/tmp/gitfox/ssh

GITFOX_REGISTRY_HTTP_SECRET=changeit
GITFOX_REGISTRY_STORAGE_TYPE=filesystem
GITFOX_REGISTRY_FILESYSTEM_ROOT_DIRECTORY=/tmp/gitfox/registry
