:root {
  --screen-2xl: 1720px;
  --color-gray-50: #fcfdfe;
  --color-gray-100: #eff1f3;
  --color-gray-200: #ebedf3;
  --color-gray-300: #d2d6e5;
  --color-gray-400: #b2b9c5;
  --color-gray-500: #64758b;
  --color-gray-600: #4a577f;
  --color-gray-700: #3d4667;
  --color-gray-800: #353d57;
  --color-gray-900: #30394a;
  --color-gray-950: #0b0f18;
  --color-gray-50-rgb: 252, 253, 254;
  --color-gray-100-rgb: 239, 241, 243;
  --color-gray-200-rgb: 235, 237, 243;
  --color-gray-300-rgb: 210, 214, 229;
  --color-gray-400-rgb: 178, 185, 197;
  --color-gray-500-rgb: 100, 117, 139;
  --color-gray-600-rgb: 74, 87, 127;
  --color-gray-700-rgb: 61, 70, 103;
  --color-gray-800-rgb: 53, 61, 87;
  --color-gray-900-rgb: 48, 57, 74;
  --color-gray-950-rgb: 11, 15, 24;
  --color-primary-50: #eef6ff;
  --color-primary-100: #d9eaff;
  --color-primary-200: #bcdcff;
  --color-primary-300: #8ec6ff;
  --color-primary-400: #59a5ff;
  --color-primary-500: #3883fa;
  --color-primary-600: #2b67e5;
  --color-primary-700: #144ce1;
  --color-primary-800: #173db6;
  --color-primary-900: #19388f;
  --color-primary-950: #142457;
  --color-primary-50-rgb: 238, 246, 255;
  --color-primary-100-rgb: 217, 234, 255;
  --color-primary-200-rgb: 188, 220, 255;
  --color-primary-300-rgb: 142, 198, 255;
  --color-primary-400-rgb: 89, 165, 255;
  --color-primary-500-rgb: 56, 131, 250;
  --color-primary-600-rgb: 43, 103, 229;
  --color-primary-700-rgb: 20, 76, 225;
  --color-primary-800-rgb: 23, 61, 182;
  --color-primary-900-rgb: 25, 56, 143;
  --color-primary-950-rgb: 20, 36, 87;
  --color-secondary-50: #e7f6ff;
  --color-secondary-100: #cdecff;
  --color-secondary-200: #9bd9ff;
  --color-secondary-300: #77cbff;
  --color-secondary-400: #60c2ff;
  --color-secondary-500: #37b2fe;
  --color-secondary-600: #18a6fd;
  --color-secondary-700: #1099ed;
  --color-secondary-800: #078ada;
  --color-secondary-900: #046bab;
  --color-secondary-950: #062a4b;
  --color-secondary-50-rgb: 231, 246, 255;
  --color-secondary-100-rgb: 205, 236, 255;
  --color-secondary-200-rgb: 155, 217, 255;
  --color-secondary-300-rgb: 119, 203, 255;
  --color-secondary-400-rgb: 96, 194, 255;
  --color-secondary-500-rgb: 55, 178, 254;
  --color-secondary-600-rgb: 24, 166, 253;
  --color-secondary-700-rgb: 16, 153, 237;
  --color-secondary-800-rgb: 7, 138, 218;
  --color-secondary-900-rgb: 4, 107, 171;
  --color-secondary-950-rgb: 6, 42, 75;
  --color-success-50: #ecfff8;
  --color-success-100: #d0f6e8;
  --color-success-200: #b1ecd6;
  --color-success-300: #7adfba;
  --color-success-400: #48d1a0;
  --color-success-500: #22c98d;
  --color-success-600: #0dbb7d;
  --color-success-700: #0ca76f;
  --color-success-800: #0e8d60;
  --color-success-900: #186c4e;
  --color-success-50-rgb: 236, 255, 248;
  --color-success-100-rgb: 208, 246, 232;
  --color-success-200-rgb: 177, 236, 214;
  --color-success-300-rgb: 122, 223, 186;
  --color-success-400-rgb: 72, 209, 160;
  --color-success-500-rgb: 34, 201, 141;
  --color-success-600-rgb: 13, 187, 125;
  --color-success-700-rgb: 12, 167, 111;
  --color-success-800-rgb: 14, 141, 96;
  --color-success-900-rgb: 24, 108, 78;
  --color-warning-50: #fff4ea;
  --color-warning-100: #ffecdb;
  --color-warning-200: #ffd2a9;
  --color-warning-300: #ffbc7e;
  --color-warning-400: #ffaf65;
  --color-warning-500: #ff9f46;
  --color-warning-600: #f38f19;
  --color-warning-700: #ed8307;
  --color-warning-800: #d17100;
  --color-warning-900: #af5f01;
  --color-warning-50-rgb: 255, 244, 234;
  --color-warning-100-rgb: 255, 236, 219;
  --color-warning-200-rgb: 255, 210, 169;
  --color-warning-300-rgb: 255, 188, 126;
  --color-warning-400-rgb: 255, 175, 101;
  --color-warning-500-rgb: 255, 159, 70;
  --color-warning-600-rgb: 243, 143, 25;
  --color-warning-700-rgb: 237, 131, 7;
  --color-warning-800-rgb: 209, 113, 0;
  --color-warning-900-rgb: 175, 95, 1;
  --color-danger-50: #ffebeb;
  --color-danger-100: #ffd5d5;
  --color-danger-200: #ffb1b1;
  --color-danger-300: #ff9292;
  --color-danger-400: #ff7c7c;
  --color-danger-500: #fc5959;
  --color-danger-600: #fb2b2b;
  --color-danger-700: #d91b1b;
  --color-danger-800: #ba1313;
  --color-danger-900: #a20606;
  --color-danger-50-rgb: 255, 235, 235;
  --color-danger-100-rgb: 255, 213, 213;
  --color-danger-200-rgb: 255, 177, 177;
  --color-danger-300-rgb: 255, 146, 146;
  --color-danger-400-rgb: 255, 124, 124;
  --color-danger-500-rgb: 252, 89, 89;
  --color-danger-600-rgb: 251, 43, 43;
  --color-danger-700-rgb: 217, 27, 27;
  --color-danger-800-rgb: 186, 19, 19;
  --color-danger-900-rgb: 162, 6, 6;
  --color-important-50: #fff8f5;
  --color-important-100: #ffe2d9;
  --color-important-200: #ffcebf;
  --color-important-300: #ffb29b;
  --color-important-400: #ff8c68;
  --color-important-500: #ff8058;
  --color-important-600: #ff6f42;
  --color-important-700: #ff4912;
  --color-important-800: #c83509;
  --color-important-900: #611700;
  --color-important-50-rgb: 255, 248, 245;
  --color-important-100-rgb: 255, 226, 217;
  --color-important-200-rgb: 255, 206, 191;
  --color-important-300-rgb: 255, 178, 155;
  --color-important-400-rgb: 255, 140, 104;
  --color-important-500-rgb: 255, 128, 88;
  --color-important-600-rgb: 255, 111, 66;
  --color-important-700-rgb: 255, 73, 18;
  --color-important-800-rgb: 200, 53, 9;
  --color-important-900-rgb: 97, 23, 0;
  --color-special-50: #efecfa;
  --color-special-100: #e4dff7;
  --color-special-200: #c4b6ff;
  --color-special-300: #a38cff;
  --color-special-400: #8a6ff5;
  --color-special-500: #8166ee;
  --color-special-600: #7055df;
  --color-special-700: #513baa;
  --color-special-800: #452da5;
  --color-special-900: #30216e;
  --color-special-50-rgb: 239, 236, 250;
  --color-special-100-rgb: 228, 223, 247;
  --color-special-200-rgb: 196, 182, 255;
  --color-special-300-rgb: 163, 140, 255;
  --color-special-400-rgb: 138, 111, 245;
  --color-special-500-rgb: 129, 102, 238;
  --color-special-600-rgb: 112, 85, 223;
  --color-special-700-rgb: 81, 59, 170;
  --color-special-800-rgb: 69, 45, 165;
  --color-special-900-rgb: 48, 33, 110;
  --color-inherit: inherit;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000;
  --color-white: #fff;
  --color-canvas: #fff;
  --color-canvas-light: #fff;
  --color-canvas-dark: #fcfdfe;
  --color-inverse: #000;
  --color-surface: #eff1f3;
  --color-surface-light: #fcfdfe;
  --color-surface-strong: #ebedf3;
  --color-fore: #30394a;
  --color-fore-in-light: #30394a;
  --color-fore-in-dark: #fff;
  --color-focus: #bcdcff;
  --color-link: #2b47a2;
  --color-link-hover: #144ce1;
  --color-link-visited: #6328a4;
  --color-link-active: #144ce1;
  --color-placeholder: #b2b9c5;
  --color-border: #ebedf3;
  --color-border-strong: #d2d6e5;
  --color-border-light: #eff1f3;
  --color-black-rgb: 0, 0, 0;
  --color-white-rgb: 255, 255, 255;
  --color-canvas-rgb: 255, 255, 255;
  --color-canvas-light-rgb: 255, 255, 255;
  --color-canvas-dark-rgb: 252, 253, 254;
  --color-inverse-rgb: 0, 0, 0;
  --color-surface-rgb: 239, 241, 243;
  --color-surface-light-rgb: 252, 253, 254;
  --color-surface-strong-rgb: 235, 237, 243;
  --color-fore-rgb: 48, 57, 74;
  --color-fore-in-light-rgb: 48, 57, 74;
  --color-fore-in-dark-rgb: 255, 255, 255;
  --color-focus-rgb: 188, 220, 255;
  --color-link-rgb: 43, 71, 162;
  --color-link-hover-rgb: 20, 76, 225;
  --color-link-visited-rgb: 99, 40, 164;
  --color-link-active-rgb: 20, 76, 225;
  --color-placeholder-rgb: 178, 185, 197;
  --color-border-rgb: 235, 237, 243;
  --color-border-strong-rgb: 210, 214, 229;
  --color-border-light-rgb: 239, 241, 243;
  --radius-none: 0px;
  --radius-sm: 0.0625rem;
  --radius: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.375rem;
  --radius-xl: 0.5rem;
  --radius-2xl: 0.75rem;
  --radius-3xl: 1rem;
  --radius-full: 9999px;
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 2px -1px rgba(0, 0, 0, 0.01);
  --shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.04), 0 1px 2px -1px rgba(0, 0, 0, 0.01);
  --shadow-md: 0 2px 6px -1px rgba(0, 0, 0, 0.2), 0 1px 4px -2px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 5px 15px -3px rgba(0, 0, 0, 0.2), 0 2px 6px -4px rgba(0, 0, 0, 0.15);
  --shadow-xl: 0 10px 25px -5px rgba(0, 0, 0, 0.2), 0 4px 10px -6px rgba(0, 0, 0, 0.15);
  --shadow-2xl: 0 10px 50px -10px rgba(0, 0, 0, 0.4), 0 8px 20px -10px rgba(0, 0, 0, 0.3);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  --shadow-none: none;
  --shadow-ring: rgb(255, 255, 255) 0px 0px 0px 0px, rgb(235, 237, 243) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --space: 0.25rem;
  --font-size-article: 0.875rem;
  --font-size-root: 16px;
  --font-size-page-lineHeight: 1.5384615385;

  --primary-light-hover: #f7fbff;
  --primary-bg: #eef6ff;
  --primary-1: #daebff;
  --primary-2: #d9eaff;
  --primary-3: #beddff;
  --primary-4: #bcdcff;
  --primary-5: #8ec6ff;
  --primary-6: #5da9fd;
  --primary-7: #3883fa;
  --primary-8: #2b67e5;
  --primary-9: #144ce1;
  --primary-10-dark: #19388f;
  --primary-10: #101b3e;

  --grey-1000: #000000;
  --gray-50: #fcfdfe;
  --gray-100: #eff1f3;
  --gray-200: #ebedf3;
  --gray-250: #e2e4ee;
  --gray-300: #d2d6e5;
  --gray-350: #c4cad2;
  --gray-400: #b2b9c5;
  --gray-450: #8595a9;
  --gray-500: #64758b;
  --gray-600: #4a577f;
  --gray-700: #3d4667;
  --gray-800: #353d57;
  --gray-900: #30394a;
  --gray-950: #0b0f18;
  --grey-0: #ffffff;

  --green-50: #ecfff8;
  --green-100: #d0f6e8;
  --green-200: #b1ecd6;
  --green-300: #7adfba;
  --green-350: #6cd5af;
  --green-400: #48d1a0;
  --green-450: #3fc696;
  --green-500: #22c98d;
  --green-600: #0dbb7d;
  --green-700: #0ca76f;
  --green-800: #0e8d60;
  --green-900: #186c4e;

  --blue-900: #2d376d;
  --blue-800: #39478f;
  --blue-700: #4c5cb0;
  --blue-600: #6374d0;
  --blue-500: #798bec; /* Main */
  --blue-450: #798bec;
  --blue-400: #8598ff;
  --blue-350: #8598ff;
  --blue-300: #97a7ff;
  --blue-200: #b1beff;
  --blue-100: #dae0ff;
  --blue-50: #f4f6ff;

  --yellow-900: #fcb519;
  --yellow-800: #fcc026;
  --yellow-700: #fcc62d;
  --yellow-600: #fdcc35;
  --yellow-500: #fdd13b; /* Main */
  --yellow-450: #fdd13b;
  --yellow-400: #fedf76;
  --yellow-350: #fedf76;
  --yellow-300: #fee89d;
  --yellow-200: #fef1c4;
  --yellow-100: #fff9e7;

  --red-900: #b41710;
  --red-800: #c41f17;
  --red-700: #cf2318;
  --red-600: #da291d;
  --red-500: #e43326; /* Main */
  --red-450: #e43326;
  --red-400: #ee5f54;
  --red-350: #ee5f54;
  --red-300: #ef9790;
  --red-200: #f5c0bc;
  --red-100: #fbe6e4;
  --red-50: #fcedec;

  --spacing: var(--spacing-4);
  --spacing-main: var(--spacing-4);
  --spacing-none: var(--spacing-0);
  --spacing-tiny: var(--spacing-1);
  --spacing-xsmall: var(--spacing-2);
  --spacing-small: var(--spacing-3);
  --spacing-medium: var(--spacing-4);
  --spacing-large: var(--spacing-5);
  --spacing-xlarge: var(--spacing-6);
  --spacing-xxlarge: var(--spacing-7);
  --spacing-xxxlarge: var(--spacing-8);
  --spacing-huge: var(--spacing-9);
  --padding-container: var(--spacing-10);
  --padding-panel: var(--spacing-8);
  --padding-section: var(--spacing-7);
  --padding-button: var(--spacing-4);
  --margin-container: var(--spacing-10);
  --margin-section: var(--spacing-7);
  --margin-form-field: var(--spacing-4);
  --button-width: var(--spacing-13);
  --min-button-width: var(--spacing-12);
  --layout-spacing: var(--spacing-4);
  --primary-bg: var(--color-gray-100);
  --font-size-normal: 13px;
  --font-family: '-apple-system', 'Noto Sans', 'Helvetica Neue', 'Helvetica', 'Nimbus Sans L', 'Arial',
    'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB', 'Noto Sans CJK SC', 'Source Han Sans SC', 'Source Han Sans CN',
    'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', 'SimHei', 'WenQuanYi Zen Hei Sharp',
    'sans-serif' !important;
  --font-family-mono: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', '"Liberation Mono"',
    '"Courier New"', 'monospace' !important;
  --form-control-border: var(--color-border-strong);
  --form-control-radius: var(--radius);
  --form-control-focus: var(--color-primary-500);
  --form-control-disabled: var(--color-surface);
  --form-control-readonly: var(--color-surface);

  --color-fg-default: var(--color-fore);
  --btn-bg: var(--color-gray-50);
  --btn-border-color: var(--color-gray-300);
}

a {
  color: var(--color-link);
}
a:hover {
  color: var(--color-link-hover);
}
a:visited {
  color: var(--color-link-visited);
}
a:active {
  color: var(--color-link-active);
}
